﻿@inherits UmbracoViewPage<uHydratorExample.UI.ViewModels.ArticleViewModel>

<article class="article container">
    <h1>@Model.ArticleModel.Name</h1>
    @if (Model.ArticleModel.MainImage != null)
    {
        <img src="@Model.ArticleModel.MainImage.Url" alt="@Model.ArticleModel.Name" class="img-responsive img-thumbnail" />
    }
    @Html.Raw(Model.ArticleModel.BodyText)

    @if (Model.ArticleModel.RelatedArticleModel != null)
    {
        <p>Related article: <a href="@Model.ArticleModel.RelatedArticleModel.Url">@Model.ArticleModel.RelatedArticleModel.Name</a></p>
    }

    @if (Model.ArticleModel.RelatedLinks.Any())
    {
        <p>Related links: </p>
        <ul>
            @foreach (var link in Model.ArticleModel.RelatedLinks)
            {
                var linkTarget = (link.NewWindow) ? "_blank" : null;
                <li><a href="@link.Link" target="@linkTarget">@link.Caption</a></li>
            }
        </ul>
    }
</article>