﻿@inherits UmbracoViewPage<uHydratorExample.UI.ViewModels.HomeViewModel>

<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>@Model.HomeModel.IntroductionTitle</h1>
                @Html.Raw(Model.HomeModel.Introduction)
            </div>
        </div>
    </div>
</section>

<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>@Model.HomeModel.AboutTitle</h1>
                @Html.Raw(Model.HomeModel.About)
            </div>
        </div>
    </div>
</section>

<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>@Model.HomeModel.ServicesTitle</h1>
                @Html.Raw(Model.HomeModel.Services)
            </div>
        </div>
    </div>
</section>

@if (Model.HomeModel.ArticleNodes != null && Model.HomeModel.ArticleNodes.Any())
{
    <section id="articles" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Articles</h1>
                        @foreach(var article in Model.HomeModel.ArticleModels)
                        {
                            <article>
                                <h1><a href="@article.Url">@article.Name</a></h1>
                                @if (article.Time.Year > 1)
                                {
                                    <p>Time: @article.Time.ToString("D")</p>
                                }
                                @if (article.MainImage != null)
                                {
                                    <img src="@article.MainImage.Url" class="img-responsive img-thumbnail" alt="@article.Name" />
                                }
                                @article.ShortDescription
                            </article>
                        }
                </div>
            </div>
        </div>
    </section>
}